$Main_Color: #161616;
$Main_Text: #f7f7f7;
$Accent_Text: #ff05b0;
$Shadow_Text: 0 0 19.3px #ff0084;
$Stroke: 0.05rem;
$Neon_Stroke: #e0faff;

$Main_Font: "Inter", sans-serif;

body {
	font-family: $Main_Font;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $Main_Color;
	color: $Main_Text;
}