$Main_Color: #161616;
$Main_Text: #f7f7f7;
$Accent_Text: #ff05b0;
$Accent_White: #ffffff;
$Shadow_Text: 0 0 19.3px #ff0084;
$Stroke: 0.05rem;
$Neon_Stroke: #e0faff;

$Main_Font: "Inter", sans-serif;

body {
	font-family: $Main_Font;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $Main_Color;
	color: $Main_Text;
}

.CTA-button {
	width: 338.645px;
	height: 59.348px;
	border-radius: 15px;
	border: 2px solid $Accent_White;
	background: $Accent_Text;

	outline-style: none;

	/* NEON_YELLOW_GLOW */
	box-shadow: $Shadow_Text;

	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: .3rem;

	h1 {
		color: $Accent_White;
		text-align: center;
		font-family: $Main_Font;
		font-size: 1.5rem;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		text-transform: uppercase;
	}
}

.form-container {
	.form {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 0.5rem;

		.name-input {
			background-color: $Accent_White;
			width: 338.645px;
			height: 50.059px;
			border-radius: 15px;
			padding-inline: 1rem;

			border-style: none;
			outline-style: none;

			color: $Accent_Text;
			font-family: Inter;
			font-size: 1.25rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
		}

		.confirmation .footer-login {
			color: $Accent_White;
			text-align: center;
			font-family: Inter;
			font-size: 0.875rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
		}

		.footer-login {
			transform: translateY(200px);
		}
	}
}
