body {
    font-family: "Inter", sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161616;
    color: #f7f7f7;
}

.CTA-button {
    width: 338.645px;
    height: 59.348px;
    border-radius: 15px;
    border: 2px solid #ffffff;
    background: #ff05b0;
    outline-style: none;
    /* NEON_YELLOW_GLOW */
    box-shadow: 0 0 19.3px #ff0084;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.3rem;
}
.CTA-button h1 {
    color: #ffffff;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

.form-container .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}
.form-container .form .name-input {
    background-color: #ffffff;
    width: 338.645px;
    height: 50.059px;
    border-radius: 15px;
    padding-inline: 1rem;
    border-style: none;
    outline-style: none;
    color: #ff05b0;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.form-container .form .confirmation .footer-login {
    color: #ffffff;
    text-align: center;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.form-container .form .footer-login {
    transform: translateY(200px);
}